body{
  background-color:#10BFCC;
  text-align:center;
  margin:10px;
  padding:10px;
}
p,h1,h2{
  font-family:Oswlad, monospace;
  color:#F5FFFA;
  background-color:#035B91;
}
h1{
  text-align:center;
  position:static;
  padding:10px;
}
h2{
  text-align:center;
  text-decoration:underline;
  position:static;
  padding:10px;
}
form{
  font-family:Oswlad, monospace;
  display:inline-block;
  background-color:#87CEFA;
  border-style:solid;
  padding:10px;
  margin-top:15px;
  margin-bottom:15px;
}
input {
  background-color: white;
}
@media screen and (min-width: 2000px) {
  .top {
	  width: 200px;
	  float: left;
  }

  .ol {
	  margin-left: 200px;
  }
}
@media only screen and (min-width: 2000px){
    .top {
		background-color:#191970;
		margin:auto;
		margin-top:15px;
		padding:1em;
  }
}